body {
  padding: 0;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 24px;
  text-align:center;
  overflow: hidden;
  background-size: fit;
  background-color:#151624;
  color:white;
}

.container {
  margin: 0;
  position: absolute;
  max-width:960px;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  color:white;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: #fff6;
}

.fadeIn {
  display: inline-block;
  animation: fadeIn linear 2.5s;
  -webkit-animation: fadeIn linear 2.5s;w
  -moz-animation: fadeIn linear 2.5s;
  -o-animation: fadeIn linear 2.5s;
  -ms-animation: fadeIn linear 2.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}